spring:
  application:
    name: customer-registration-service
  datasource:
    url: jdbc:h2:mem:customerdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    url: /api/customer-service.yaml

server:
  port: 8080

management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
  info:
    env:
      enabled: true

info:
  app:
    name: Customer Registration Service
    description: Customer management REST API
    version: 1.0.0
    environment: local

  build:
    java: 21
    spring-boot: 3.5

  contact:
    name: DJ Soft
    email: support@dj.com
